@import "../../utils/clearStyle.scss";
@import "../../styleVars.scss";
.capabilityGroup{
  display: flex;
  gap: 70px;
  justify-content: center;
  margin-bottom: 60px;
}
.features{
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: 60px;
  height: 100vh;
  background: linear-gradient(190deg, rgba(194, 214, 218, 1) 70%, rgba(240, 240, 240, 1) 50%);
  margin-bottom: 30px;
}
.infoBlock {
  margin-left: 52%;
  padding-top: 100px;
  h1 {
      font-family: 'Montserrat', 'sans-serif';
      font-weight: 700;
      width: 570px;
      font-size: 48px;
  }

  p {
      width: 500px;
      padding-left: 100px;
      margin-bottom: 30px;
  }
  span{
      color: #008EAA;
  }

  
}
.btn {
  img{
      margin-left: 20px;
      transition: transform 0.2s ease-in-out;
  }
  display: flex;
  border: none;
  padding: 25px 100px;
  background: linear-gradient(192.01deg, rgba(96, 202, 223, 1) 20.06%, rgba(240, 240, 240, 1) 65.37%);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
}
.btn:hover{
  img{
    transform: translateX(15px);
  }
}

.logo {
  position: absolute;
}

footer{
  @include clear;
  background: #000;
  height: 200px;
  a{
      color: #fff;
      text-decoration: none;
      font-size: 24px;
      font-weight: 400;
  }
  
  p{
      color: #FFF;
      font-size: 14px;
     margin-left: 70%;
  }
}

.to_email{
  border-bottom: 1px solid #FFF;
  padding: 20px 0;
  margin-bottom: 30px;
}
.footer_content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.links{
  display: flex;
  flex-direction: column;
  width: 300;
}
.link_imgs{
  display: flex;
  justify-content: space-around;
}
.footer_btn{
  color: #FFF;
  font-weight: 400;
  height: 73px;
  background: linear-gradient(192.01deg, rgba(96, 202, 223, 1) 20.06%, rgba(148, 148, 148, 0.2) 65.37%);
  img{
      fill: #FFF;
  }
}