.card{
  min-width: 217px;
  min-height: 120px;
  background: #F0F0F0; // заменить на глоб переменную
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 37px 23px 46px 23px;
  transition: 0.3s; // заменить на глоб переменную
  cursor: pointer;
  &:hover{
    transform: translateY(-15px);
    box-shadow: none;
  }
}
p,h2{ // убрать и подлкючить обнуляющий стили файл
  margin: 0;
  padding: 0;
}