@import "../../styleVars.scss";
@import "../../utils/clearStyle.scss";
.card {
  @include clear;
  width: 433px;
  background: $BG_COLOR;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 23px 23px 46px 23px;
  transition: $T_TIME;
  cursor: pointer;
  
  &:hover {
    transform: translateY(-15px);
    box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.22);
  }
}
