.pages_popup {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;

    &__icon {
        width: 84px;
        height: 84px;
        background: center no-repeat url("../../../public/img/deleteIcon.svg");
        margin-bottom: 8px;
    }

    &__container {
        background-color: #fff;
        border-radius: 20px;
    }
    &__center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        // margin: 38px 28px 28px 28px;
        margin-top: 38px;
        margin-right: 28px;
        position: relative;
        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
        }

        button {
            width: 28px;
            height: 28px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border: 0;
            background: inherit;
            background: center no-repeat url("../../../public/img/leave.svg");
            cursor: pointer;
        }
    }

    &__buttons {
        padding-top: 52px;

        button {
            width: 200px;
            padding: 10px 57px;
            border: none;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            color: #67a5eb;
            // background: ;
            letter-spacing: -0.24px;

            &:hover {
                background: #67a5eb;
                color: #fff;
            }
        }
    }

    &__button_left {
        border-radius: 4px 4px 4px 12px;
        margin-right: 8px;
    }

    &__button_right {
        border-radius: 4px 4px 12px 4px;
    }

    &__list {
        padding: 12px;
        width: 448px;
        min-height: 220px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        border-radius: 12px;
        position: relative;

        &_active {
            background: #67a5eb;
            p {
                color: white;
            }
        }

        @media (max-width: 550px) {
            width: auto;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    &__name_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin-top: 8px;
        /* identical to box height, or 125% */

        letter-spacing: -0.32px;

        color: #6d7885;
    }
}

.smooth {
    animation: smooth 0.1s ease-in-out;
    transition: all 0.4s;
    @keyframes smooth {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
