.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    float: right;
    margin-right: 50px;
}