@import "styleVars.scss";
// в этом файле должны лежать глобавльные стили глобальные стили
p {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 43px;
    color: #000000;
}

.title {
    text-align: center;
}
//h1{
//    font-style: normal;
//    font-weight: 700;
//    font-size: 48px;
//    line-height: 59px;
//    color: #000000;
//}

body {
    justify-content: space-between;
    font-family: 'Montserrat', 'sans-serif';
    font-style: normal;
    background: $BG_COLOR;
    margin: 0;
    padding: 0;
}

.container {
    // width: 70%;
    margin: 0 auto;
    background: $BG_COLOR;
}

.wrap {
    padding-top: 70px;
}


