// в этом файле должны лежать глобавльные стили глобальные стили
p{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
h2{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}
h3{
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
}
//h1{
//    font-style: normal;
//    font-weight: 700;
//    font-size: 48px;
//    line-height: 59px;
//    color: #000000;
//}

body{
    justify-content: space-between;
    font-family: 'Montserrat', 'sans-serif';
    font-style: normal;
    background: #F5F5F5;
    margin: 0;
    padding: 0;
}

.container{
    //width: 60%;  если поставить в хроме with 1440 то все будет как на шаблоне (потом адаптируем, на след неделе например)
    margin: 0 auto;
    background: #C2D6DA;
}
.wrap{
    padding-top: 70px;
}
.header {
    padding-top: 20px;
    height: 577px;
    .infoBlock{
        margin-left: 60%;
        h1{
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            width: 370px;
        }
        p{
          width: 300px;
        }
        .btn{
          padding: 10px 50px;
          border-radius: 10px;
          background: #000;
        }
    }
}
.logo{
    position: absolute;
}